<template>
  <div>
    <h2>Edit To Do List</h2>
    <form @submit.prevent="updateProduct(task.id)">
      <div class="form-group">
        <label for="edit-name">My To Do</label>
        <input class="form-control" id="id" v-model="task.id" required type="hidden"/>
        <input v-model="task.body" type="text" name="body" class="form-control" autofocus v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('body') }" >

      </div>
      
      <button type="submit" class="btn btn-primary">Update</button>
      <router-link class="btn btn-default" v-bind:to="'/'">Cancel</router-link>
    </form>
  </div>
</template>
<script>
    export default {
        props: ["task"],
        data() {
            return {}
                
            },
            methods: {

              updateProduct(id) 
              {
                   axios.put('api/tasks/' + id, this.task)
                    .then((res) => {
                      this.$router.push('/');
                    })
                    .catch((err) => console.error(err));
              }
            }
        }
    

</script>