<template>
    <form>
    <h3>Your To-Do has been added</h3>
    <input class="form-control" id="edit-name" v-model="mtask" readonly="true"/>
    <br>
    <br>
    <router-link class="btn btn-default" v-bind:to="'/'">Go Back</router-link>
    </form>
</template>
<script>
    export default {
        props: ["mtask"],
        data() {
            return {}
                
            },
            methods: {
              getProduct() {
                  
              }
            }
        }
    

</script>