<template>
    <div class='row'>
        <h1>My To-Do List</h1>
        <h4>New To-Do</h4>
        <form action="#" @submit.prevent="createTask()">
            <div class="input-group">
                <input v-model="task.body" type="text" name="body" class="form-control" v-validate="'required'">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Add New To-Do</button>
                </span>
            </div>
            <span v-show="errors.has('body')" class="help is-danger">{{ errors.first('body') }}</span>
                
            <div>
                
            </div>
        </form>
        <div>
        <br>
        <br>
        <br>
        
        <vue-good-table
          title="To Do List"
          :columns="columns"
          :rows="rows"
          :paginate="true"
          :lineNumbers="true"
          styleClass="table condensed table-bordered table-striped">
          <template slot="table-row" scope="props">
            <td>{{ props.row.body }}</td>
            <td><button class="btn btn-warning btn-sm" title="Edit" @click="editTask(props.row.id)">Edit</button>
              <button class="btn btn-danger btn-sm" title="Delete" @click="deleteTask(props.row.id)">Delete</button></td>
            
          </template>
            
        </vue-good-table>
            
        </div>
        


        
    </div>
</template>

<script>
    export default {
        data() {
            
            return {
                columns: [
                            {
                              label: 'Name',
                              field: 'body',
                              filterable: true,
                            },
                            {
                              label: 'Action',
                              field: 'action',
                              html: true,
                              filterable: false,
                            }
                        ],
                rows: [],
                task: {
                    id: '',
                    body: ''
                }
                 
           
            };
        },
        
        created() {
            this.fetchTaskList();
        },
        
        methods: {
            fOrder: function (name, reverse) {
              this.orderBy = name;
              this.orderReverse = reverse;
            },
            fetchTaskList() {
                axios.get('api/tasks').then((res) => {
                    this.rows = res.data;
                });
            },

            
            createTask() {
                this.$validator.validateAll().then((result) => 
                {
                    if (result) 
                    {
                        axios.post('api/tasks', this.task)
                        .then((res) => {

                            this.task.body = res.data.body;
                            this.edit = false;
                            this.$router.push({name : 'showTask', params: {mtask:res.data.body}});
                        })
                        .catch((err) => console.error(err));
                    }

                    
              });

                
            },
            

            editTask(id) {
                axios.get('api/tasks/' + id + '/edit').then((res) => 
                {
                    this.$router.push({name: 'editTask', params: {task:res.data}});
                });

                
            },
 
            deleteTask(id) {
                swal({
                      title: "Are you sure?",
                      text: "Once deleted, you will not be able to recover this!",
                      icon: "warning",
                      buttons: true,
                      dangerMode: true,
                    })
                    .then((willDelete) => {
                      if (willDelete) {
                        axios.delete('api/tasks/' + id)
                            .then((res) => {
                                this.fetchTaskList()
                            })
                            .catch((err) => console.error(err));
                      } else {
                        swal("The record was not deleted!"); 
                      }
                    });
                
            },
        }
    }
    
</script>
